<main>
  <div class="container">
    <div class="row">
    <div class="col-md-3">
      <%= render partial: 'books/list', locals: { user: @user, book: @book } %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table>
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= image_tag user.get_profile_image(100,100) %></td>
            <td><%= link_to user.name, user_path(user) %></td>
            <td colspan="3"></td></td>
            <td><%= link_to "Show", user_path(user) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    </div>
    </div>
  </div>
</main>




<!--Bootstrap:px-sm-0-->
<!--https://qiita.com/nakanishi03/items/c80a16b9b9796c25f890-->