<div>
  <!--ユーザーに付属する画像の表示に必要なのか-->
  <!--<＠= image_tag @book.get_image %>-->
  <p>Title：<%= @book.title %></p>
  <p>Opinion：<%= @book.body %></p>
  <!--book.user.nameなのかbook.nameなのか-->
  <p>name：<%= @book.user.name %></p>
  <!--user  = User.find(book.user_id)-->
  <!--user.name-->
  <% if @book.user == current_user %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>
</div>
