<main>
<div class="container">
  <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      
    <h1 class="Bookers">welcome to<strong><i class="fa-solid fa-book"></i>Bookers</strong>!!</h1>
    
    
    <p>In
    <strong><i class="fa-solid fa-book"></i>Bookers</strong>
    ,</p>
    
      
    <p>you can share and exchange your opinions , inpressions , and emotions
       about various books!
    </p>
    
    <div class="center-block col-8 mx-auto" >
    <%= link_to 'Log in', books_path, class: "btn btn-login" %>
    <%= link_to 'Sign in', user_session_path, class: "btn btn-signup" %>
    </div>
    
 
<!-- <div class="container text-center">-->
<!--  <div class="row justify-content-md-center">-->
<!--    <div class="col-md-auto">-->
<!--      <= link_to 'Log in', books_path, class: "btn btn-login" %>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="row">-->
<!--    <div class="col-md-auto">-->
<!--      <= link_to 'Sign in', user_session_path, class: "btn btn-signup" %>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
 
 
 
 
    </div>
  </div>
</div>
</main>  

<!--文字とアイコンの横並び-->
<!--https://qiita.com/ki_87/items/f94a85cc8c20f42a5d53-->

<!--bootstrapの余白-->
<!--https://getbootstrap.jp/docs/5.3/utilities/spacing/-->
<!--<div class="mx-auto p-2" style="width: 200px;">-->
<!--  Centered element-->
<!--</div>-->

<!--ログインとサインアップボタンの位置-->
<!--https://getbootstrap.jp/docs/5.3/layout/grid/#%e5%8f%af%e5%a4%89%e5%b9%85%e3%81%ae%e3%82%b3%e3%83%b3%e3%83%86%e3%83%b3%e3%83%84-->