<main>
<div class="container">
  <div class="row">
    <h1>welcome to Bookers !!</h1>
    <p>In Bookers,</p>
    <p>you can share and exchange your opinions , inpressions , and emotions
       about various books!
    </p>
    
    <%= link_to 'Log in', books_path, class: "btn btn-login" %>
    <%= link_to 'Sign in', user_session_path, class: "btn btn-signup" %>
    
 
 
 
 
  
  </div>
</div>
</main>  