<main>
  <div class="container">
    <div class="row">
      <div class="mx-auto col-11">
        
        <h1 class="Bookers">welcome to <strong><i class="fa-solid fa-book"></i>Bookers</strong>!!</h1>
        
        <p>In <strong><i class="fa-solid fa-book"></i>Bookers</strong>,</p>
        
        <p>you can share and exchange  your opinions , inpressions , and emotions</p>
        <p> about various books!</p>
        
        <div class="center-block col-10 mx-auto">
          
          <div class="row">
            <a class="btn btn-info btn-sm btn-block mb-3 login" href="/users/sign_in">Log in</a>
          </div>
          <div class="row">
            <a class="btn btn-success btn-sm btn-block signup" href="/users/sign_up">Sign up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>  


<!--https://getbootstrap.jp/docs/5.3/components/buttons/#%E3%83%9C%E3%82%BF%E3%83%B3%E3%82%BF%E3%82%B0-->
<!--<a class="btn btn-primary" href="#" >Link</a>-->


<!--文字とアイコンの横並び-->
<!--https://qiita.com/ki_87/items/f94a85cc8c20f42a5d53-->

<!--bootstrapの余白-->
<!--https://getbootstrap.jp/docs/5.3/utilities/spacing/-->
<!--<div class="mx-auto p-2" style="width: 200px;">-->
<!--  Centered element-->
<!--</div>-->

<!--ログインとサインアップボタンの位置-->
<!--https://getbootstrap.jp/docs/5.3/layout/grid/#%e5%8f%af%e5%a4%89%e5%b9%85%e3%81%ae%e3%82%b3%e3%83%b3%e3%83%86%e3%83%b3%e3%83%84-->