@use '~bootstrap/scss/bootstrap';

@import "~bootstrap/scss/bootstrap";

// main {
//   display: block;
// }

// .row {
//   display: flex;
//   flex-wrap: wrap;
// }

.col {
  border: solid 0px;
  padding: 0 15px;
  // margin: 0 45px;
}

.Bookers {
  margin: 0 0 8px;
}

.btn-box {
  padding: 0 15px;
  width: 100%;
}

// Bootstrapで作成したボタンはカーソルを合わせるとbackground-colorの色が消える
// ＝カーソルによって色に変化をつけたくないときは基本的に:hoverを入れる
.btn-login:hover {
  background-color: #17a2b8;
  color: white;
}
// 上記のようにすると逆にカーソルを合わせないと色がつかなくなった
.btn-login {
  background-color: #17a2b8;
  color: white;
}
// 上記で解決したけど正規の解決法ではないと思う

.btn-signup:hover {
  background-color: #28A745;
  color: white;
}

.btn-signup {
  background-color: #28A745;
  color: white;
}