@use '~bootstrap/scss/bootstrap';

@import "~bootstrap/scss/bootstrap";

main {
  display: block;
}

.row {
  display: flex;
}

.btn-login {
  background-color: #17a2b8;
  color: white;
}

.btn-signup {
  background-color: #28A745;
  color: white;
}