@use '~bootstrap/scss/bootstrap';

@import "~bootstrap/scss/bootstrap";

// main {
//   display: block;
// }

// .row {
//   display: flex;
//   flex-wrap: wrap;
// }

main {
  display: block;
} 

.container {
  width: 100%;
  margin: 0 auto;
}

.user-info-table {
  width: 100%;
  margin-bottom: 1rem;
}

// 1rem=16px
// https://plus1jp.com/2022/03/28/css_rem/




.col {
  border: solid 0px;
  padding: 0 15px;
  // margin: 0 45px;
}

.Bookers {
  margin: 0 0 8px;
}

.btn-box {
  padding: 0 15px;
  width: 100%;
}

.btn-info {
  color: white;
}

.form-text {
  width: 100%;
  padding: auto;
}


.col-md-3 {
  width: 100%;
  padding: 0 15px 0 15px;
}